/****************************
*
* Component classes
*
*****************************/
@layer components {
  .hamburger-icon {
    width: 40px;
    height: 8px;
    background-color: #ededed;
  }

  .cta-button {
    border-radius: 8px;
    display: inline-block;
  }

  .linear-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      #7a00ff 0%,
      var(--color-primary-color-darker) 54%
    );
  }

  .hero-linear-bg {
    &.z-2 {
      clip-path: polygon(0px 705px, 0px 630px, 130px 630px, 130px 705px);
    }
  }

  .profile-img {
    margin: 0 auto !important;
  }

  .hero-header {
    padding-top: 56px;
    max-width: 560px;
    text-wrap: pretty;
    font-size: var(--text-size-lg);
    overflow: hidden;

    .hero-split-word {
      display: inline-block;
      transform: translateY(100px);
      visibility: hidden;
    }

    @variant tablet-portrait {
      font-size: var(--text-size-xl);
      padding-top: 0px;
    }

    @variant desktop {
      font-size: var(--text-size-md);
    }

    @variant motion-reduce {
      transform: none;
    }
  }

  .list-card-skill {
    @apply pt-5 tablet-portrait:pt-9 translate-y-12.5 invisible;
  }

  .card-skill {
    @apply: flex flex-col items-center;
  }

  .card-description {
    @apply mb-1;

    h3 {
      @variant desktop {
        font-size: var(--text-size-sm);
      }
    }

    p {
      @variant desktop {
        font-size: var(--text-size-xsm);
      }
    }
  }

  .section {
    content-visibility: auto;
  }

  .section3-bg {
    background-image: linear-gradient(
      var(--color-primary-color-darker) 0%,
      #7a00ff 70%
    );
  }

  .after-line {
    padding-bottom: 4px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
    }
  }

  .icons {
    width: 80px;
    height: 80px;
  }

  .icons-large-screen {
    width: 80px;
    height: 80px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
  }

  .content-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h4,
    a {
      @variant desktop {
        font-size: var(--text-size-sm);
      }
    }

    p {
      @variant desktop {
        font-size: var(--text-size-xsm);
      }
    }
  }

  .issue-list:before {
    content: "● ";
    font-weight: bold;
    color: var(--color-issue-red);
    margin-bottom: 0.5rem;
  }
  .issue-list {
    color: var(--color-col-neutral-1);
  }

  .split-word {
    visibility: hidden;
    transform: translateY(-100px);
  }

  .code-snippet p {
    visibility: hidden;
    transform: translateY(100px);

    @variant motion-reduce {
      transform: none;
    }
  }

  .fade-entry {
    visibility: hidden;
    transform: translateY(50px);

    @variant motion-reduce {
      transform: none;
    }
  }

  .icons {
    visibility: hidden;
    transform: rotate(-25deg);

    @variant motion-reduce {
      transform: none;
    }
  }

  .footer-nav ul {
    font-size: 32px;
    @variant tablet-portrait {
      @apply text-5xl;
    }

    @variant desktop {
      font-size: var(--text-size-xl);
    }
  }
}
